{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}

{% block title %}{{ staff.full_name }}{% endblock title %}

{% block body_classes %}{{ block.super }} staffmember-detail{% endblock %}

{% block content %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static "staff/css/styles.css" %}">{% endaddtoblock %}
  <div class="body-sidebar">
    <div class="staff-detail">
      {% thumbnail staff.photo '136x136' crop subject_location=staff.photo.subject_location as photo %}
      <img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}" alt="{{ staff.full_name }}">

      {% if staff.clippings.all %}
      <h3>Related Clippings</h3>
      <ul class="clippings">{% for clipping in staff.clippings.all %}
        <li><a href="{{ clipping.get_absolute_url }}">{{ clipping.title }}</a><br><div class="meta">{{ clipping.get_type }}</div></li>{% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="body-content">
    <div class="staff-detail">
      <h1 class="name">{% render_model staff "full_name" %}</h1>
      <div class="title">{{ staff.seniority }}</div>
      <div class="staff-bio">{% render_placeholder staff.bio %}</div>
    </div>
  </div>
{% endblock content %}
